@import "tailwindcss";
@plugin "daisyui";

/* font-faces */

@font-face {
    font-family:heading-font;
    src: url("https://res.cloudinary.com/dff30apwl/raw/upload/v1757100805/cb-font-1_lz2pn2.woff2") format("woff2");
}

@font-face {
    font-family:primary-font;
    src: url("https://res.cloudinary.com/dff30apwl/raw/upload/v1757105818/cb-font-2_vehfbh.ttf") format("truetype");
}

@font-face {
    font-family:sub-heading-font;
    src: url("https://res.cloudinary.com/dff30apwl/raw/upload/v1757100817/cb-font-3_nqyk1v.woff2") format("woff2");
}

/* custom theme */

@theme {
  --font-body: primary-font, sans-serif;
  --font-heading: sub-heading-font, sans-serif;

  /* Neutrals (Backgrounds) */
  --color-white: #ffffff;
  --color-offwhite: #fdf6f0;   /* softer, warmer off-white */
  --color-offwhite-dark: #e6dcd3; /* subtle beige */

  /* Primary Reds (Branding) */
  --color-red-dark: #D32F2F;   /* bold, deep red */
  --color-red-light: #F44336;  /* vibrant red for accents */

  /* Yellows/Oranges (Highlights & Buttons) */
  --color-yellow-light: #FFCA28;  /* warm golden yellow */
  --color-yellow-dark: #FF9800;   /* orange for hover/CTA */
}



@layer base{
  h1,h2,h3,h4,h5,h6{
    @apply font-heading
  }
}

@layer utilities {
  .padding-responsive {
    @apply px-4 md:px-8 lg:px-16;
  }

  .heading{
    @apply text-2xl md:text-4xl font-bold font-heading;
  }

  .primary-color{
    @apply text-[#7a7a7a];
  }

  .card-shadow {
    @apply bg-white p-6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.3s ease;
  }
}

