@import "tailwindcss";
@plugin "daisyui";

/* font-faces */

@font-face {
    font-family:heading-font;
    src: url("https://res.cloudinary.com/dff30apwl/raw/upload/v1757100805/cb-font-1_lz2pn2.woff2") format("woff2");
}

@font-face {
    font-family:primary-font;
    src: url("https://res.cloudinary.com/dff30apwl/raw/upload/v1757105818/cb-font-2_vehfbh.ttf") format("truetype");
}

@font-face {
    font-family:sub-heading-font;
    src: url("https://res.cloudinary.com/dff30apwl/raw/upload/v1757100817/cb-font-3_nqyk1v.woff2") format("woff2");
}

/* custom theme */

@theme{
  --font-heading:heading-font, sans-serif;
  --font-body: primary-font , sans-serif;
  --font-sub: sub-heading-font, sans-serif;

  /* Whites*/
  --color-white: #ffffff;
  --color-offwhite: #f9f9f9;
  --color-offwhite-dark: #e0e0e0;

  /* Reds */
  --color-red-dark: #E53935;
  --color-red-light: #FF6F61;

  /* Yellows */
  --color-yellow-light: #FFC107;
  --color-yellow-dark: #FFA000;

  /* links */
  --color-link-dark:#007bff;
  --color-link-light:#3399ff;
}


@layer base{
  body{
    @apply text-sm md:text-base lg:text-lg font-body;
  }
}

@layer utilities {
  .padding-responsive {
    @apply px-4 md:px-8 lg:px-16;
  }

  .nav-link-text {
    @apply text-sm md:text-base lg:text-xl;
  }

    .heading-responsive {
    @apply text-lg md:text-xl lg:text-2xl font-heading font-bold;
  }


  .subheading-responsive {
    @apply text-base md:text-lg lg:text-xl font-heading font-semibold;
  }
}
